<!-- Header -->
<!-- Smartphone menu -->
<div class="navigation-menu-wrapper">
    <a href="/minimalistic-portfolio/index.html" aria-label="Homepage" tabindex="0">
        <svg xmlns="http://www.w3.org/2000/svg" width="61" height="32"><path fill="#33323D" fill-rule="evenodd" d="M60.082 5.878L44.408 32 28.735 5.878h31.347zM15.673 0l15.674 26.122H0L15.673 0z"/></svg>
    </a>
    <!-- Open Hamburger menu + Close hamburger menu -->
    <button class="hamburger-container"  type="button" aria-label="Toggle menu" tabindex="0">  
        <span class="hamburger-bar-1"></span>
        <span class="hamburger-bar-2"></span>
        <span class="hamburger-bar-3"></span>
    </button>
</div>
<ul class="navigation-links">
    <li>Home</li>
    <li>Portfolio</li>
    <li>Contact me</li>
</ul>
