@import '../src/variable.scss';

#header.active {
    height: 100vh;
}
.navigation-menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
        
    .hamburger-container {
        padding: 0px;
    
        span {
            display: block;
            width: 35px;
            height: 2px;
            background-color: black;
            margin: 6px 0;
            border-radius: 2px;

        }

        &.active {
            .hamburger-bar-1 {
                transform: rotate(45deg) translate(5px, 5px);
            }
        
            .hamburger-bar-2 {
                display: none;
            }
        
            .hamburger-bar-3 {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }
}

.navigation-links {
    display: block;
    align-self: center;

    li {
        list-style: none;
        text-align: right;
    }
}



