#header {
    margin-top: 40px;
}

#header.active {
    height: 100vh;
}

/*  ---------------
    NAVIGATION MENU
    --------------- */

.navigation-menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

/*  -----
    LOGO
    ----- */

#logo {
    background-color: none;
    display: inline-block;
    animation: float 3s ease-in-out infinite;
    animation-iteration-count: 5;
}

#logo:focus-visible
    {
    border: 3px solid var(--slightly-desaturated-cyan);
    outline: none;
    border-radius: 2px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
    }

    50% {
        transform: translateY(+7px); 
    }
    
    100% {
        transform: translateY(0); 
    }
}

/*  --------------
    HAMBURGER MENU
    -------------- */

.hamburger-container {
    padding: 0px;
    background: none;
    border: none;
    
}

.hamburger-container:focus-visible {
    border: 3px solid var(--slightly-desaturated-cyan);
    outline: none;
    border-radius: 2px;
}

.hamburger-container > span {
    display: block;
    width: 35px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    border-radius: 2px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    
}

.hamburger-container.active .hamburger-bar-1 {

        transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-container.active .hamburger-bar-2 {
        display: none;
    }

.hamburger-container.active .hamburger-bar-3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navigation-links {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    align-self: center;
    background-color: var(--grayish-dark-blue);
    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

li {
    margin-bottom:25px;
    list-style: none;
    text-align: center;
}
    
.navigation-links.active {
    opacity: 1;
    visibility: visible;
    height: 300px;
    padding: 60px;
    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease, padding 0.5s ease;
}

.navigation-links:not(.active) {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease, padding 0.5s ease;
}
.navigation-links a {
        display: inline-block;
        width: 100%;
        margin: 0px;
        border-radius: 2px;
        font-family: "Public Sans", system-ui;
        font-size: 16px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        line-height: 30px;
        text-decoration: none;
        color: var(--white);
    }

.navigation-links a:hover, .navigation-links a:focus-visible {
    background-color: var(--slightly-desaturated-cyan);
    outline: none;
}

/*  ---------------------
    TABLET / DESKTOP MENU
    --------------------- */

.desktop-navigation-links {
    display:none;
}


.desktop-navigation-links a {
    text-decoration: none;
    font-family: "Public Sans", system-ui;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: var(--grayish-dark-blue);
}

.desktop-navigation-links a:focus-visible {
    padding: 5px;
    outline: none;
    border: 3px solid var(--slightly-desaturated-cyan);
    border-radius: 2px;
}
 
.desktop-navigation-links a:hover {
      color: var(--slightly-desaturated-cyan);
    }

/*  ---------------------
    MAIN / HERO SECTION
    --------------------- */

.hero-image {
    width: 100%;
    height: auto;
}

.red-box {
    display: none;
    width: 100px;
    height: 100px;
    background-color: rgb(213, 24, 68);
}

.green-box {
    display: none;
    width: 100px;
    height: 100px;
    background-color: green;
}

/*  -------------------------------------
    MEDIA QUERY FOR TABLETS AND DESKTOPS
    ------------------------------------- */
    
@media screen and (min-width: 768px) {
    .hamburger-container {
        display: none;
    }

    .desktop-navigation-links {
        display: flex;
        column-gap: 30px;
    }

    .hero-image {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    
    .red-box {
        width: 500px;
        height: 200px;
        background-color: rgb(213, 24, 68);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    
    .green-box {
        display: block;
        width: 100px;
        height: 50px;
        background-color: green;
    }
    

}

